name: bun-executable
on:
  push:

jobs:
  compile-and-release:
    runs-on: windows-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4.2.2
        
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2.0.2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Start compiling executable
        run: bun build --minify --compile --target=bun-windows-x64 ./index.ts --outfile "BotWAKanigoro.exe" --external=[]

      - name: Sign executable
        uses: skymatic/code-sign-action@v1
        with:
          certificate: '${{ secrets.CERT_DATA }}'
          password: '${{ secrets.CERT_PASSWORD }}'
          certificatesha1: '${{ secrets.CERT_SHA }}'
          description: 'Bot Whatsapp Kanigoro'
          timestampUrl: 'http://timestamp.digicert.com'
          folder: '.'
          recursive: false
          
      - name: Release executable
        uses: softprops/action-gh-release@v2.3.2
        with:
          name: Bot Whatsapp Kanigoro
          files: "BotWAKanigoro.exe"
          tag_name: latest
          make_latest: true